﻿
@{
    ViewBag.Title = "Index";
}
@model WebApplication1.ViewModels.BMIData
<h2>BMI 計算</h2>
BMI = 體重 (kg) / 身高 (m2)
<form method="post" action="@Url.Action("Index")">
    <p>@Html.DisplayNameFor(m => m.Height)
    @Html.TextBoxFor(m => m.Height) 公分
    @Html.ValidationMessageFor(modelItem => @Model.Height)</p>

    <p>@Html.DisplayNameFor(m => m.Weight)
    @Html.TextBoxFor(m => m.Weight)  公斤
    @Html.ValidationMessageFor(modelItem => @Model.Weight)</p>
    <p><input type="submit" value="送出" /></p>
    <p>計算結果 : @Model.Result</p>
    <p>等級 : @Model.Level</p>
</form>

