﻿
@{
    ViewBag.Title = "Html";
}
<br />

    <p>姓名 : <input type="text" name="UserName"></p>
    <p>帳號 : <input type="password" name="YourPassword"></p>
    <p>密碼 : <input type="password" name="YourPassword"></p>
    <p>
        性別 : <input type="radio" name="gender" value="A"> 男性
               <input type="radio" name="gender" value="B"> 女性
    </p>
    <p>
        興趣 : <input type="checkbox" value="1" name="Product_1">游泳
               <input type="checkbox" value="1" name="Product_2">閱讀
               <input type="checkbox" value="1" name="Product_3">看電影
    </p>        
    <p>
        自我介紹 : <textarea cols="50" rows="5"></textarea>
    </p>

